* { margin: 0; padding: 0; box-sizing: border-box; }
body{font-family:'Noto Sans KR';}
html,body { height:100%; }
body,div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,button,input { margin:0; padding:0; }
html { scroll-behavior:smooth; }
h1,h2,h3,h4 { font-size:1rem; }
ul,li,ol { list-style:none; }
img,fieldset,iframe { border:0; }
img { vertical-align:top;}
table { border-collapse:collapse; }
a {text-decoration: none; color: var(--text-primary); font-size: 1rem; font-weight: 400;}
.blind {position:absolute; left:0; top:-99999px;}


:root {
    --main-color:#095CBC;
    --green-color:#4DAC27;
    --text-primary:#222;
    --bg-primary:#EBF4FF;
}
/* common */
.inner {  width: 90%; margin: 0 auto; /*border: 2px solid red;*/ }
.title h2 {font-size: 4vw; font-weight: 600;}
.title {position: relative; display: flex; align-items: center;}
.section__wrap {display: flex; justify-content: space-between; flex-wrap: nowrap; white-space: nowrap;}
.section__border {width: 100%; height: 13px; background-color: #F2F1F1; margin: 1rem 0;}
.book__wrap__white {padding: 1rem; background-color: #fff; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border-radius: 20px;}
.book__wrap__grey {padding: 1rem; background-color: #eee; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border-radius: 20px; color:#A0A0A0;}
.book__wrap__grey.on {background-color: var(--bg-primary); color: var(--main-color); font-weight: 900;}
.book__wrap__blue {padding: 1rem; background-color: #EAF4FF;  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border-radius: 20px;}
.button_blue { display: inline-block; background-color: #3D8FEF; padding: 10px 15px; color: #fff; border-radius: 10px; text-align: center;}
.view_btn { position: absolute; right: -19px; top:50%; transform: translate(-50%, -50%); vertical-align: top;   color: #3D8FEF; font-weight: 800; font-size: 0.8rem; }


/* footer */
#tab__bar { position: fixed; left: 5%; bottom: 1%; display: flex; align-items: center; justify-content: space-between; width:90%; margin: 0 auto;
    background-color: #fff; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border-radius: 15px;
    }





