@import url(./common.css);

a {letter-spacing: -1px;}
.book__wrap__white {margin-bottom: 5%;}

header { position: relative; margin-top: 5%; }
header h1 { width: 98px; }
header h1 a img { width: 100%; }
header button { position: absolute; top: 0; right: 5%; }

.menu__login { position: relative; width: 100%; border: 2px solid var(--green-color); height: 50px; margin: 20px 0; border-radius: 30px; line-height: 50px;}
.menu__login img {margin-top: calc((50px - 22px)/2); margin-left: 10px;}
.menu__login span {font-weight: 600; color: var(--green-color);}
.menu__login a {color: #A0A0A0;}
.menu__login a::before {content: ''; display: inline-block; position: absolute; right:10px; top: calc((50px - 22px)/2); background: url(./images/menu_back.svg); width: 18px; height: 18px;}

.menu__main {display: flex; align-items: center; justify-content: space-between;}
.menu__main li a {font-size: 0.9rem; }
.menu__main li img {display: block; margin: 0 auto;}

.main__categoty {display: flex; justify-content: space-between;}
.main__categoty { padding-bottom: 5px; border-bottom: 2px solid #eee;}
.main__categoty a.on {padding-bottom: 5px; border-bottom: 3px solid var(--green-color);}

.menu__category { position: relative; width: 100%; background-color: var(--bg-primary); padding: 3% 0; margin: 10px 0; border-radius: 10px;}
.menu__category a {margin-left: 5%; font-weight: 500;}
.menu__category a::before {content: ''; display: inline-block; position: absolute; right:10px; top: calc((40px - 18px)/2); background: url(./images/menu_back.svg); width: 18px; height: 18px;}

.menu__marketing {display: flex; justify-content: space-between; flex-wrap: wrap;  }
.menu__marketing li {width:25%; text-align: center;}
.menu__marketing li a {margin: 4px 0;}
.menu__marketing li img {display: block; margin: 10px auto; }

.menu__etc a { display: inline-block; padding: 0.5rem;}
